<table
  data-toggle="table"
  data-url="/admin/api/list">
  <thead>
    <tr>
      <th data-field="name">name</th> 
      <th data-field="uuid">uuid</th>
      <th data-field="email">email</th>
    </tr>
  </thead>
</table>