<link rel="stylesheet" href="/css/user/account.css">
<div class="d-flex mt-3 justify-content-md-center">
    <div class="col-sm-6 p-3 border rounded-1 border-2" style="background-color:white;">
        <div class="row">
            <div class="col-sm-4 mx-0 pe-0 mt-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active accordion user-select-none text-body"><i class="m-1 bi bi-person"></i>My
                            Account</a>
                        <div class="accordion-collapse collapse show">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link text-muted" href="/account">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active"
                                        href="/account/changePassword"></i>Password</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="/account/bookings"> <i class="m-1 bi bi-calendar"></i>My bookings</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8 mx-0  border-start">
                <div class="card m-0 border border-0">

                    <form action="/account/changePassword/{{user.id}}" class="card-body w-75 mx-auto" method="post">
                        <h5 class="w-25 mx-auto border-bottom pb-2">Change password
                        </h5>
                        {{!--
                        <hr> --}}

                        <div class="mb-3 mt-3 row">
                            <label for="oldPassword" class="col-sm-4 col-form-label">Old password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control password" name="oldPassword">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="newPassword" class="col-sm-4 col-form-label">New password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control password" name="newPassword">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="newPassword2" class="col-sm-4 col-form-label">Confirm password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control password" name="newPassword2">
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" value="Submit">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>