<style type="type/css">
  a.nav-link{
    font-size: 33px;
  }
</style>
<nav id="sidebarMenu" class="col-md-2 d-sm-block m-0 bg-light sidebar collapse vh-100 navbar navbar-expand-lg bg-light">
  <div class="position-sticky pt-3 ms-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link navbar-brand" aria-current="page" href="/admin">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/courses">
          <span data-feather="file"></span>
          Courses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/classes">
          <span data-feather="file"></span>
          Classes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/products">
          <span data-feather="shopping-cart"></span>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">
          <span data-feather="users"></span>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/enquiries">
          <span data-feather="enquiries"></span>
          Enquiries
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/reviews">
          <span data-feather="enquiries"></span>
          Reviews
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/logout">
          <span data-feather="enquiries"></span>
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>