<link rel="stylesheet" href="css/navbar.css">

<script>
  function hamburger() {
    var element = document.getElementById("hamburger");
    element.classList.toggle("open");
  }
</script>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    {{!-- hamburger --}}
    <div id="hamburger" onclick="hamburger()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    {{!-- navbar --}}
    <div class="collapse navbar-collapse" id="navbarNav">
      {{#unless user}}
      <ul class="navbar-nav">
        <a class="navbar-brand" href="/">Ginseng & Stich</a>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
      {{/unless}}
    </div>
  </div>
</nav>