
 <link rel="stylesheet" href="/css/partials/navbar.css">


<script>
  function hamburger() {
    var element = document.getElementById("hamburger");
    element.classList.toggle("open");
  }
</script>
    <div class="position-absoluteoverflow-hidden offcanvas offcanvas-top mt-0" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
      id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
              <button type="button" class="btn-close text-reset mt-4 ms-4 position-absolute top-0 start-0" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
        <a class="offcanvas-title" href="/" id="offcanvasScrollingLabel">Ginseng & Stitch</a>
      </div>

      <div class="offcanvas-body overflow-hidden pt-0 mt-0">
        <div class="d-flex flex-column">
          <a href="/about" class="lead">ABOUT</a>
          <a href="/products" class="lead">PRODUCTS</a>
          <a href="/courses" class="lead">COURSES</a>
          <a href="/account" class="lead">ACCOUNT</a>
          <a href="/contactUs" class="lead">CONTACT US</a>
        </div>
      </div>
    </div>
<nav class="navbar navbar-expand-lg sticky-top navbar-light ">
  <div class="container-fluid">

    {{!-- hamburger --}}
    <div id="hamburger" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    {{!-- navbar --}}
    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand position-absolute top-50 start-50 translate-middle" id="logo" href="/">Ginseng & Stitch</a>
      <ul class="navbar-nav me-2 d-flex flex-row position-absolute top-0 end-0">
        {{#if user}}
        <li class="nav-item p-1">
          <a href="/account" class="nav-link">Account</a>
        </li>
        <li class="nav-item p-1">
          <a href="/account/logout" class="nav-link">Logout</a>
        </li>
        {{else}}
        <li class="nav-item p-1">
          <a href="/account/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item p-1">
          <a href="/account/register" class="nav-link">Register</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>