<link rel="stylesheet" href="css/navbar.css">

<script>
  function hamburger() {
    var element = document.getElementById("hamburger");
    element.classList.toggle("open");
  }
</script>

<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    {{!-- hamburger --}}
    <div id="hamburger" d data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" onclick="hamburger()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    {{!-- navbar --}}
    <div class="collapse navbar-collapse" id="navbarNav">
      {{#unless user}}
        <a class="navbar-brand position-absolute top-50 start-50 translate-middle" id="logo" href="/">Ginseng & Stich</a>
        <a class="nav-link ms-auto" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
      {{/unless}}
    </div>
  </div>
</nav>

{{!-- menu dropdown --}}
<div class="collapse" id="collapseExample">
  <hr class="line">
  <div class="card card-body">
    <a href="">balls</a>
  </div>
  <div class="card card-body">
    <a href="">balls</a>
  </div>
  <div class="card card-body">
    <a href="">balls</a>
  </div>
  <div class="card card-body">
    <a href="">balls</a>
  </div>
</div>