<style>
label {
  display: inline-block;
}
.input-group-append {
  cursor: pointer;
}
.container {
	width: 40%;
	margin: auto;
}
.col-75 {
  margin-top: 2px;
}
.submit {
	width: 20%; 
	margin: auto;
	text-align: center;
}
</style>

<!--admin create classes -->
<h4><u>New Class Creation</u></h4>
	<div class="container-fluid col-md-9 ms-sm-auto col-lg-10 px-md-4">
		<form method="POST" action="">
			

	<div class="container">
		<form>
			<div class="form-group">
				<div class="row">
					<div class="col-25">
						<label for="CourseId">Course ID</label>
					</div>
					<div class="col-75">
						<select id="CourseId" name="CourseId" required>
							{{#each courses}}
							<option value="{{id}}" name="CourseId">{{id}}</option>
							{{/each}}
						</select>
					</div>
				</div>
			</div>
			<br>
			<div class="form-group">
				<div class="row">
					<div class="col-25">
						<label for="date">Date</label>
					</div>
					<div class="col-75">
						<input type="date" class="form-control" name="date" value={{Class.date}}>
					</div>
				</div>
			</div>
			<br>
			<div class="form-group">
				<div class="row">
					<div class="col-25">
						<label for="pax">Pax</label>
					</div>
					<div class="col-75">
						<input type="number" class="form-control" id="pax" name="pax" min="0" max="5">
					</div>
				</div>
			</div>
			<br>
			<div class="form-group">
				<div class="row">
					<div class="col-25">
						<label for="max_pax">Max Pax</label>
					</div>
					<div class="col-75">
						<input type="number" class="form-control" id="max_pax" name="max_pax" max="5">
					</div>
				</div>
			</div>
			<br>
			<div class="submit">
				<button class="btn btn-primary waves-effect" type="submit">+ Create</button>
			</div>
		</form>
	</div>