<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<div
		class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Dashboard</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group me-2">
				<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
				<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
			</div>
			<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
				<span data-feather="calendar"></span>
				This week
			</button>
		</div>
	</div>
	 <style>
	.container{
		width: 40%;
		margin: auto;
	}
	.col-75 {
	margin-top: 2px;
	}
	.submit {
		width: 20%; 
		margin: auto;
		text-align: center;
	}
</style>
	<div class="container-fluid col-md-9 ms-sm-auto col-lg-10 px-md-4">
		<h3>Edit Class #{{classes.id}} </h3>
		<div class="card card-body">
			<form action="" method="post">
				<div class="form-group">
					<div class="row">
						<div class="col-25">
							<label for="time">Class Start Timing: </label>
						</div>
						<div class="col-75">
							<input type="time" class="form-control" name="time" min="09:00" max="18:00" value={{classes.time}}>
						</div>
					</div>
				</div>
				<br>

				<div class="form-group">
					<div class="row">
						<div class="col-25">
							<label for="date">Start Date:</label>
						</div>
						<div class="col-75">
							<input type="date" class="form-control" name="date" min="2022-08-16"  value={{classes.date}}>
						</div>
					</div>
					<br>
				</div>
				<br>
				<div class="update">
					<button id="btnSubmit" type="submit" class="btn btn-primary">Update</button>
				</div>
			</form>
		</div>
	</div>
</main>