<style type="type/css">
    .search-button{
      width: 25%; 
      height: 25%; 
    }
    div.container {
		width: 80%;
		margin: auto;
		margin-top: 30px;
	}
</style> 

<div class="container-fluid col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<div class="h2 mt-3">Classes</div>
	<hr class="border border-secondary opacity-50">
	<div id="toolbar">
		<a id="button" class="btn btn-secondary" href="/admin/classes/addClasses">Add Classes</a>
	</div>
	<div class="table-responsive">
		<table id="table" data-show-refresh="true" data-auto-refresh="true" data-toggle="table" data-search="true"
			data-show-columns="true" data-toolbar="#toolbar" {{!-- data-show-custom-view="true"
			data-custom-view="customViewFormatter" data-show-custom-view-button="true" --}} data-url="/admin/classes/api/list">

			<thead>
				<tr>
					<th data-field="CourseId">Course ID</th>
					{{!-- <th data-field="Course.coursePic">Picture of Course</th> --}}
					<th data-field="id">Class ID</th>
					<th data-field="Course.title">Course Title</th>
					<th data-field="Course.level">Course Level</th>
					<th data-field="time">Class time</th>
					<th data-field="date">Class date</th>
					<th data-field="max_pax">Max Pax</th>
					<th data-field="icons" data-formatter="generate_actions">actions</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
    <script>
      var $table = $('#table')
      function generate_actions(value, row, index) {
        return `
		<div>
				<a href="/admin/classes/deleteClasses/${row.id}"><i class="bi bi-trash"></i></a>
				<a href="/admin/classes/editClasses/${row.id}"><i class="bi bi-pencil-square"></i></a>
		</div>`;
      }
        function draw_picture(value, row, index) {
  return `<img style="width: 100px; height: 64px" src="${value}">`;
  }

    </script>
