<link rel="stylesheet" href="/css/home.css">
<div class="jumbotron text-center">
	<div class="container">
		<img src="img/home_img.jpg" class="img-fluid" id="home_img" alt="Yarn">
	</div>
	<br>
</div>