<link rel="stylesheet" href="css/home.css">
<div class="jumbotron text-center">
		<div class="hero-img p-5">
			<div class="m-5 p-5 text-end">
				<h1 class="mt-5 pt-5">Ginseng & Stitch</h1>
				<p class="mb-5 pt-3 pb-5 fst-italic">All your tailored needs in one place</p>
			</div>
		</div>
		</div>
	<br>
</div>