.hero-img {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("../../img/home_img.jpg");
    /* opacity: 0.9; */
    /* Set a specific height */
    min-height: 94.9vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-img h1 {
  font-size: 72px;
}
.hero-img p {
  font-size: 24px;
}