div{
    margin: auto;
    text-align: center;
}
/* hamburger css */
#hamburger {
    width: 30px;
    height: 15px;
    position: relative;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
    top: 10px;
}

#hamburger span:nth-child(4) {
    top: 20px;
}

#hamburger.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
}
/* navbar css */
nav.navbar{
    background-color: #E8DDD8;
    padding: 0.6%;
}
div#navbarNav{
    text-align: center;
}
ul{
    position: relative;
    display: table;
    margin: 0 auto;
}
div.card-body{
    background-color: #E8DDD8;
    border: none;
}
hr.line{
    margin: 0;
    height: 2px;
    background-color: black;
    color: black;
}