<link rel="stylesheet" href="/css/user/user.css">
<div class="user-img p-5"></div>
<div class="card w-25 p-3 position-absolute bottom-50 start-0 rounded" id="register">
	<div class="card-title">
		<h2>Login</h2>
	</div>
	{{!-- ADD VALIDATION!!!!!!! --}}
	<form class="needs-validation" novalidate>
		<div class="mb-3">
			<div class="form-floating">
				<input type="email" class="form-control" id="floatingEmail" placeholder="Email"
					aria-describedby="emailHelp">
				<label for="floatingEmail">Email</label>
			</div>
			{{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
		</div>

		<div class="mb-3">
			<div class="form-floating">
				<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
				<label for="floatingPassword">Password</label>
			</div>
		</div>
		<div class="mb-3">
			<div class="form-floating">
				<input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password">
				<label for="floatingConfirmPassword">Confirm Password</label>
			</div>
		</div>

		{{!-- <div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Check me out</label>
		</div> --}}

		<button type="submit" class="btn btn-primary">Submit</button>

	</form>

</div>