<link rel="stylesheet" href="/css/user/user.css">
<div class="user-img p-5"></div>
<div class="card w-25 p-3 position-absolute bottom-50 start-0 rounded" id="register">
	<div class="card-title">
		<h2>Register</h2>
	</div>
	{{!-- ADD VALIDATION!!!!!!! --}}
		<form class="needs-validation" novalidate>
			<div class="mb-3">
				<div class="row">
					<div class="col">
						<div class="form-floating">
							<input type="text" class="form-control" id="floatingFirstName" placeholder="First Name"
								required>
							<label for="floatingFirstName">First Name</label>
						</div>
						{{!-- <div class="valid-feedback">
							Looks good!
						</div> --}}
					</div>
					<div class="col">
						<div class="form-floating">
							<input type="text" class="form-control" id="floatingLastName" placeholder="Last Name">
							<label for="floatingLastName">Last Name</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" value="" required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control" value="" required>
				</div>
				<div class="form-group">
					<label for="password2">Confirm Password</label>
					<input type="password" name="password2" class="form-control" value="" required>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>