.rounded-pill{
    background-color: #E5DFDF;
    width: 1469;
    height: 246;
}
.search-pill{
    background-color: #8690A9;
    width: 234.04;
    height: 79;
}
.btn btn-light{
    width: 208;
    height: 63;
}