#register {
    right: 50%;
}

.user-img {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("../../img/user-img.jpg");
    opacity: 0.9;
    /* Set a specific height */
    min-height: 94.9vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}