<p>Home > Workshop > Book Now</p>

<div class="card" style="width: 18rem;">
  <img src="img/advanced_img.jpg" class="card-img-top1" alt="adv act" width="290" height="367">
  <div class="card-body">
    <h5 class="card-title">
        <p class="text-muted">Advanced</p>
        <p>Advanced Sewing</p>
    </h5>
    <p class="card-text">In this class, we will start to teach you more advance techniques that the industry uses and the necessary skills for you to start sewing your very own clothes.</p>
  </div>
</div>

<div class"description">

<p>Timing Available on
<br> <p>16/05/2022</p>
</p>

<label for="instructor">Instructor:</label>
<select id="instructor" name="instructor" required>
  <option value="ben">Mr Ben Dover</option>
  <option value="drop">Mr Mic Drop</option>
</select>
<label for="timing">Timing:</label>
<select id="timing" name="timing" required>
  <option value="0930">0930AM</option>
  <option value="1030">1030AM</option>
  <option value="1130">1130AM</option>
  <option value="1200">1200PM</option>
  <option value="1230">1230PM</option>
  <option value="1400">1400PM</option>
</select>
<label for="pax"> Adult Pax:</label>
<select id="adultpax" name="adultpax" required>
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
</select>
<label for="pax"> Children Pax:</label>
<select id="childpax" name="childpax" required>
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
</select>
<br>
<button type="button" class="btn btn-link"><a href="/confirm">Confirm Now</a></button>