<p> Thank you ! </p>
<p> Your class #01 has been confirmed successfully.</p>
<p>Please go back to the Main Page.</p>
<button type="button" class="btn btn-light"><a href="/successful">Back to Main Page</a></button>