<link rel="stylesheet" href="public/css/user/confirmation.css">
<p>Home > Workshop > Book Now > Confirmation</p>

<h2>CONFIRM YOUR BOOKING</h2>
<hr>

<p>Details:</p>
<p>Time: 0930AM</p>
<p>Date: 16/5/2022</p>
<p>Instructor: Mr Ben Dover</p>

<p>Pax:</p>
<p>1 Adult</p>

<p>Class:</p>
<p>Advanced Sewing</p>

<button type="button" class="btn btn-light"><a href="/payment">Pay Now</a></button>