<p>Home > Classes > Book Now</p>

<style type="type/css">
	.container{
		width: 40%;
		margin: auto;
	}
	.col-75 {
	margin-top: 2px;
	}
	.submit {
		width: 20%; 
		margin: auto;
		text-align: center;
	}
</style>
<h4><u>Editing Booking</u></h4>
<h6 class="word">Current Booking ID: <br> {{id}}</h6>
<div class="container">
	<form>
		<div class="form-group">
			<div class="col">
				<div class="row">
					<div class="col-25">
						<label for="course_id">Course ID:</label>
					</div>
					<div class="col-75">
						<input type="select" class="form-control" name="course_id" value={{course_id}}>
					</div>
				</div>
				<br>

				<div class="form-group">
					<label for="class_id">Class ID:</label>
					<div class="col-75">
						<input type="select" class="form-control" name="class_id" value={{class_id}}>
					</div>
				</div>
				<br>
			</div>
		</div>
		<br>
		<div class="update">
			<button id="btnSubmit" type="submit" class="btn btn-primary">Update</button>
		</div>
	</form>
</div>