
<link rel="stylesheet" href="public/css/user/booking.css">
{{!-- <button class="roundbutton"></button>
<div class="line" style="height: 40px;"> --}}
<p>Workshop:</p>
<p>Introduction to Sewing</p>
<p>Advanced Sewing</p>
<div class="vr">
    <p class="fw-bold">Instructor:</p>
    <p>Mr Ben Dover</p>
</div>
<div class="vr">
    <p class="fw-bold">Date:</p>
    <p>16/5/2022</p>
</div>
{{!-- <class="search-pill"> --}}
{{!-- </div> --}}

<div class="card" style="width: 18rem;">
  <img src="img/introduction_img.jpg" class="card-img-top1" alt="int act" width="290" height="367">
  <div class="card-body">
    <h5 class="card-title">
        <p class="text-muted">Beginner</p>
        <p>Introduction to Sewing</p>
    </h5>
    <p class="card-text">Our extremely beginner friendly introductory course. In this class, we will be covering how to operate a sewing machine and other basic sewing techniques.</p>
    <a href="/book" class="btn btn-light">Book Now</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="img/advanced_img.jpg" class="card-img-top1" alt="adv act" width="290" height="367">
  <div class="card-body">
    <h5 class="card-title">
        <p class="text-muted">Advanced</p>
        <p>Advanced Sewing</p>
    </h5>
    <p class="card-text">In this class, we will start to teach you more advance techniques that the industry uses and the necessary skills for you to start sewing your very own clothes.</p>
    <a href="/book" class="btn btn-light">Book Now</a>
  </div>
</div>
