<p>Home > Workshop > Book Now > Booking Completion</p>

<p class="text-muted">Congratulations!</p>

<h4>Your Class #01 is booked successfully!</h4>

<p>Details:</p>
<p>Time: 0930AM</p>
<p>Date: 16/5/2022</p>
<p>Instructor: Mr Ben Dover</p>

<p>Price:</p>
<p>$149.00</p>

<p>Pax:</p>
<p>1 Adult</p>

<p>Class:</p>
<p>Advanced Sewing</p>

<button type="receipt">Receipt to Email</button>
<button type="calender">Add to Calender</button>
