{{!-- <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div> --}}
<div class="container-fluid col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<div class="card card-body">
		<h3>Edit Product</h3>
		<form action="" method="post">
			<div class="form-group">
				{{!-- Practical 5 Exercise 2: Add a title input text here named 'title'--}}
				<label class="font-italic" for="prod_name">Product Name</label>
				<input class="form-control" id="prod_name" name="prod_name" value="{{prod_name}}"/>
			</div>
			<div class="form-group mb-4">
				<label class="font-italic" for="prod_desc">Product Description</label>
				<textarea class="form-control" id="prod_desc" name="prod_desc" rows="7" maxlength="2000" value="{{prod_desc}}"></textarea>
			</div>

			<div class="form-group">
				<div class="row mb-2">
					<div class="col-12 col-sm-12 col-md-12 col-lg-6">
						<label class="font-italic">Difficulty</label>
						<br>
						{{!-- Practical 5 Exercise 2: Language radio buttons here named 'language'--}}
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="difficulty" id="diffBeginner"
								value="Beginner" checked
								onclick="ensureOneCheck('difficulty', 'difficultyErr', 'btnSubmit')">
							<label class="form-check-label" for="beginner">Beginner</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="difficulty" id="diffIntermediate"
								value="Intermediate"
								onclick="ensureOneCheck('difficulty', 'difficultyErr', 'btnSubmit')">
							<label class="form-check-label" for="intermediate">Intermediate</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="difficulty" id="diffMaster"
								value="Master" onclick="ensureOneCheck('difficulty', 'difficultyErr', 'btnSubmit')">
							<label class="form-check-label" for="master">Master</label>
						</div>
						<p class="text-danger m-0" id="difficultyErr" style="display:none">Please select one language
						</p>
					</div>
				</div>
			</div>
			<div class="form-group">
				{{!-- Practical 5 Exercise 2: Add a title input text here named 'title'--}}
				<label class="font-italic" for="stock">Stock</label>
				<input class="form-control" id="stock" name="stock" value="{{stock}}"/>
			</div>
			<div class="form-group">
				<label class="font-italic" for="price">Price</label>
				<input class="form-control" id="price" name="price" value="{{price}}"/>
			</div>
			<br>
			<button id="btnSubmit" type="submit" class="btn btn-primary">Save
			</button>
		</form>
	</div>
</div>

<script>
	$('#datepicker').datepicker({
		format: 'dd/mm/yyyy',
		uiLibrary: 'bootstrap4',
		value: moment().format('DD/MM/YYYY'),
	});
</script>
{{!-- </main> --}}