<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	
<style>
label {
  display: inline-block;
}

.input-group-append {
  cursor: pointer;
}

.container {
	width: 40%;
	margin: auto;
}

.col-75 {
  margin-top: 2px;
}

.submit {
	width: 20%; 
	margin: auto;
	text-align: center;
}
</style>

<!--admin create classes -->
<h4><u>New Class Creation</u></h4>

	<div class="container">
		<form method="POST" action="">

			<!-- THIS SUPPOSE TO BE A FOREIGN KEY FROM COURSE -->
				<div class="row">
					<div class="col-25">
						<label for="course_id">Course ID</label>
					</div>
					<div class="col-75">
						<select id="course_id" name="course_id" required>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						</select>
					</div>
				</div>
				<br>

				{{!-- <div class="row">
					<div class="col-25">
						<label for="instructor_id">Instructor ID</label>
					</div>
					<div class="col-75">
						<input type="text" id="instructor_id" name="instructor_id" value="">
						<br>
					</div>
				</div>
				<br> --}}

				<!-- THIS SUPPOSE TO BE A FOREIGN KEY FROM INSTRUCTOR -->
				<div class="row">
					<div class="col-25">
						<label for="instructor_name">Instructor Name</label>
					</div>
					<div class="col-75">
						<select id="instructor_name" name="instructor_name" required>
						<option value="Mr Mic Drop">Mr Mic Drop</option>
						<option value="Mr Ben Dover">Mr Ben Dover</option>
						</select>
					</div>
				</div>
				<br>

				<!-- THIS SUPPOSE TO BE A FOREIGN KEY FROM COURSE -->
				<div class="row">
					<div class="col-25">
						<label for="course_name">Name</label>
					</div>
					<div class="col-75">
						<select id="course_name" name="course_name" required>
						<option value="Advanced Sewing">Advanced Sewing</option>
						<option value="Make your own Jacket">Make your own Jacket</option>
						<option value="Introduction to Sewing">Introduction to Sewing</option>
						<option value="Pattern Drafting">Pattern Drafting</option>
						</select>
					</div>
				</div>
				<br>

				<!-- THIS SUPPOSE TO BE A FOREIGN KEY FROM COURSE -->
				<div class="row">
					<div class="col-25">
						<label for="course_difficulty">Difficulty</label>
					</div>
					<div class="col-75">
						<select id="course_difficulty" name="course_difficulty" required>
						<option value="Beginner">Beginner</option>
						<option value="Advanced">Advanced</option>
						<option value="Master">Master</option>
						</select>
					</div>
				</div>
				<br>

				<!-- THIS SUPPOSE TO BE A FOREIGN KEY FROM COURSE -->
				<div class="row">
					<div class="col-25">
						<label for="course_price">Course Price</label>
					</div>
					<div class="col-75">
						<input type="text" id="course_price" name="course_price" value="">
						<br>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-25">
						<label for="time">Timing</label>
					</div>
					<div class="col-75">
						<select id="time" name="time" required>
						<option value="0930">0930AM</option>
						<option value="1130">1130AM</option>
						<option value="1230">1230PM</option>
						<option value="1400">1400PM</option>
						<option value="1500">1500PM</option>
						</select>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-75">
						<label class="date">Date</label>
						<br>
						<input id="datepicker" width="200" name="dateClasses" readonly />
					</div>
				</div>
				<br>
				{{!-- <div class="row">
					<div class="col-25">
						<label for="date">Date</label>
					</div>
					<div class="col-75">
						<select id="date" name="date" required>
						<option value="235">23/5/2022</option>
						<option value="295">29/5/2022</option>
						<option value="166">16/6/2022</option>
						<option value="307">30/7/2022</option>
						<option value="266">26/6/2022</option>
						<option value="276">27/6/2022</option>
						<option value="265">26/5/2022</option>
						<option value="165">16/5/2022</option>
						</select>
					</div>
				</div>
				<br> --}}
				
				<div class="row">
					<div class="col-25">
						<label for="class_no">Class</label>
					</div>
					<div class="col-75">
						<select id="class_no" name="class_no" required>
						<option value="1">Class 1</option>
						<option value="2">Class 2</option>
						</select>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-25">
						<label for="pax">Pax</label>
					</div>
					<div class="col-75">
						<input type="number" id="pax" name="pax" min="1" max="5">
					</div>
					</div>
				<br>
				<div class="submit">
				<button class="btn btn-primary waves-effect" type="submit">+ Create</button>
				</div>
		</form>
	</div>

<script>
	$(function(){
	$('#datepicker').datepicker({
		format: 'dd/mm/yyyy'
	});
	});
</script>