<style>
	.container{
		width: 40%;
		margin: auto;
	}
</style>

<h4><u>Editing Class</u></h4>
<h6 class="word">Current Class: <br> {{classes.course_name}}</h6>
<div class="container">
	<form action="/classes/editClasses/{{classes.id}}" method="post">
		<div class="form-group">
			<div class="col">

				<div class="form-row md-form">
					<label for="course_id">Course ID</label>
 					<div class="col-75">
						<select id="course_id" name="course_id" required>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						</select>
					</div>
				</div>
				<br>
				
				<div class="form-row md-form">
					<label for="course_name">Name</label>
					<div class="col-75">
						<select id="course_name" name="course_name" required>
						<option value="Advanced Sewing">Advanced Sewing</option>
						<option value="Make your own Jacket">Make your own Jacket</option>
						<option value="Introduction to Sewing">Introduction to Sewing</option>
						<option value="Pattern Drafting">Pattern Drafting</option>
						</select>
					</div>
				</div>
				<br>
				
				<div class="form-row md-form">
					<label for="course_difficulty">Difficulty</label>
					<div class="col-75">
						<select id="course_difficulty" name="course_difficulty" required>
						<option value="Beginner">Beginner</option>
						<option value="Advanced">Advanced</option>
						<option value="Intermediate">Intermediate</option>
						</select>
					</div>
				</div>
				<br>

				<div class="form-row md-form">
					<label for="course_price">Course Price</label>
					<input type="text" class="form-control" name="course_price" value={{classes.course_price}}>
				</div> 
				<br>

				<div class="form-row md-form">
					<label for="time">Time</label>
					<div class="col-75">
						<select id="time" name="time" required>
						<option value="0930">0930AM</option>
						<option value="1130">1130AM</option>
						<option value="1230">1230PM</option>
						<option value="1400">1400PM</option>
						<option value="1500">1500PM</option>
						</select>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-25">
						<label for="date">Date</label>
					</div>
					<div class="col-75">
						<select id="date" name="date" required>
						<option value="235">23/5/2022</option>
						<option value="295">29/5/2022</option>
						<option value="166">16/6/2022</option>
						<option value="307">30/7/2022</option>
						<option value="266">26/6/2022</option>
						<option value="276">27/6/2022</option>
						<option value="265">26/5/2022</option>
						<option value="165">16/5/2022</option>
						</select>
					</div>
				</div>
				<br>

				<div class="form-row md-form">
					<label for="class_no">Class</label>
					<div class="col-75">
						<select id="class_no" name="class_no" required>
						<option value="1">Class 1</option>
						<option value="2">Class 2</option>
						</select>
					</div>
				</div>
				<br>

      			<div class="form-row md-form">
					<label for="pax">Pax</label>
					<div class="col-75">
						<input type="number" id="pax" name="pax" min="1" max="5">
					</div>
				</div>
				<br>
			</div>
		</div>
		<br>
		<button id="btnSubmit" type="submit" class="btn btn-primary">Update</button>
	</form>
</div>